
@{
    ViewBag.Title = "SpecializedReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <title>Thống kê ấn phẩm đã được mượn</title>
    <style>
        label {
            text-align: right;
        }
    </style>
</head>

<h4 style="margin-top:20px;">Báo cáo Chuyên ngành</h4>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-group row col-8">
            <label class="control-label col-md-8 align-self-center">Thư viện</label>
            @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-4" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-group row col-8">
            <label class="control-label col-md-8 align-self-center">Chuyên ngành</label>
            <input type="text" id="Spec" name="Spec" class="form-control col-md-4" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-group row col-8">
            <label class="control-label col-md-8 align-self-center">Mã môn</label>
            <input type="text" id="Subject" name="Subject" class="form-control col-md-4" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" id="stat" class="btn btn-primary mr">Xem thử</button>
    </div>
</div>

<div id="ContentSpecReport"></div>

<script>
    document.getElementById("stat").onclick = function () {
        var empObj = {
            strSubjects: document.getElementById("Subject").value,
            strSpec: document.getElementById("Spec").value,
            strLibID: document.getElementById("Library").value,
        };
        if (document.getElementById("Library").value == "") {
            alert("Hãy chọn Thư viện");
        } else {
            $.ajax({
                url: "GetSpecializedReport",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                type: "POST",
                beforeSend: function () {
                    $("#ContentSpecReport").html("<h4>Loading...</h4>");
                },
                success: function (result) {
                    $("#ContentSpecReport").html(result)
                },
                error: function (errormessage) {
                    console.log("error");
                }
            });
        }
    };
</script>


