@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đổi mật khẩu</title>
    <style>

        input,
        select,
        textarea {
            max-width: 280px;
        }


        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div style=" display:flex; justify-content:center">

        @using (Html.BeginForm("ChangePassword", "Management", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h1 class="h3 mb-3 font-weight-normal">Đổi mật khẩu</h1>
            <input type="password" name="oldPassword" class="form-control" placeholder="Mật khẩu cũ" required autofocus>
            <input type="password" name="newPassword" class="form-control" placeholder="Mật khẩu mới" required>
            <input type="password" name="repeatNewPassword" class="form-control" placeholder="Nhập lại mật khẩu mới" required>
            <h1 style="color: red;" class="h6 mb-3 font-weight-normal" id="Notification">@ViewData["Notification"]</h1>
            <h1 style="color: green;" class="h6 mb-3 font-weight-normal" id="NotificationSuccess">@ViewData["NotificationSuccess"]</h1>
            <button class="btn btn-md btn-primary mr-auto ml-auto" type="submit">Đổi mật khẩu</button>
        }

    </div>



</body>
</html>