
@{
    ViewBag.Title = "Tìm kiếm bạn đọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        font-size: 0.8rem !important;
    }
</style>
@*START------------SCRIPT FOR DATATABLES*@
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    $(document).ready(function () {
       
        var table = $('#table_patron').DataTable({
            "processing": true,
            "serverSide": true,
            ajax: {
                url: "/Patron/ListPatron?strCode=" + getParameterByName('strCode') + "&blnSex=" + getParameterByName('blnSex') + "&strLastIssuedDate=" + getParameterByName('strLastIssuedDate') + "&intPatronGroupID=" + getParameterByName('intPatronGroupID') + "&strClass=" + getParameterByName('strClass') + "&strGrade=" + getParameterByName('strGrade') + "&strName=" + getParameterByName('strName') + "&strDOB=" + getParameterByName('strDOB') + "&strExpiredDate=" + getParameterByName('strExpiredDate') + "&faculty=" + getParameterByName('faculty') + "&intOccupationID=" + getParameterByName('intOccupationID') +"",
                type: 'POST',
            },
            columns: [
                {
                    "data": "strCode",
                    "render": function (data, type, row, meta) {
                        var code = "'" + data + "'";
                        if (type === 'display') {
                            data = '<a href="#" onclick="PatronDetail(' + code + ')">' + data + '</a>';
                        }

                        return data;
                    }
                },
                { "data": "Name" },
                { "data": "strDOB" },
                { "data": "Sex" },
                { "data": "intEthnicID" },
                { "data": "intCollegeID" },
                { "data": "intFacultyID" },
                { "data": "strGrade" },
                { "data": "strClass" },
                { "data": "strTelephone" },
                { "data": "strMobile" },
                { "data": "strEmail" },
                { "data": "intPatronGroupID" }
            ],
            ordering: false,
          
            buttons: [
                {
                    extend: 'excel',
                    title: function () { var printTitle = 'Tra cuu ban doc'; return printTitle; },
                    action: newExportAction
                },
                'csv',
                'pdf',
                'colvis'
            ],
            

        });


        
    });
    var oldExportAction = function (self, e, dt, button, config) {
        if (button[0].className.indexOf('buttons-excel') >= 0) {
            if ($.fn.dataTable.ext.buttons.excelHtml5.available(dt, config)) {
                $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config);
            }
            else {
                $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
            }
        } else if (button[0].className.indexOf('buttons-print') >= 0) {
            $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
        }
    };

    var newExportAction = function (e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                oldExportAction(self, e, dt, button, config);

                dt.one('preXhr', function (e, s, data) {
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                setTimeout(dt.ajax.reload, 0);
                return false;
            });
        });
        dt.ajax.reload();
    };

    function PatronDetail(code) {
        var empObj = {
            strCode: code
        }
        $.ajax({
            url: "/Patron/PatronDetail",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $("#modalDetailDiv").html(result)
                $("#modalDetail").modal()
            },
            error: function (errormessage) {

            }
        });
    }
</script>

@*END------------SCRIPT FOR DATATABLES*@
<h4 style="margin : 1rem">Tìm kiếm bạn đọc</h4>
@if (Request.Params["DeleteSuccess"] == "true")
{
    <h5 style="text-align: center; color:green;">Xóa bạn đọc thành công!</h5>
}

@if (Request.Params["DeleteSuccess"] == "false")
{
    <h5 style="text-align: center;color:red;">Xóa bạn đọc thất bại!</h5>
    <h5 style="text-align: center;color:red;">(Vui lòng kiểm tra lại danh sách mượn của bạn đọc)</h5>
}

<table id="table_patron" class="table table-striped table-bordered datatables" style="width:100% !important; font-size: 0.8rem !important;">
    <thead>
        <tr>
            <th>Số thẻ</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Dân tộc</th>
            <th>Trường</th>
            <th>Khoa</th>
            <th>Khóa</th>
            <th>Lớp</th>
            <th>Điện thoại</th>
            <th>Di động</th>
            <th>Email</th>
            <th>Nhóm bạn đọc</th>
        </tr>
        
    </thead>
</table>

<div id="modalDetailDiv">
</div>
<div class="row">
    <div class="col-md-12 text-center">
        @*<div class="btn-group btn-group">
                <button type="button" id="ExportReporttoExcel" class="btn btn-primary">Lưu vào file excel</button>
            </div>*@
        <form action="~/Content/Template1/Tra cuu ban doc.xlsx">
            <button type="submit" class="btn btn-primary">Lưu vào file excel</button>
        </form>
    </div>
</div>
