
@{
    ViewBag.Title = "Báo cáo";
}

<table class="table">
    <thead style="background-color:deepskyblue; color: white; ">
        <tr style="font-size: 20px;">
            <th>Xử lý</th>
            <th>Định dạng</th>
            <th>Báo cáo đầu ra</th>
        </tr>
    </thead>
    <tbody style="font-weight:bold; color: dodgerblue;">
        <tr>
            <td>Biên mục sơ lược</td>
            <td>Khuôn dạng ĐKCB</td>
            <td>In mã vạch</td>
        </tr>
        <tr>
            <td>Xếp giá</td>
            <td>Khuôn dạng nhãn gáy/ nhãn bìa</td>
            <td>In nhãn</td>
        </tr>
        <tr>
            <td>Thiết đặt số thứ tự</td>
            <td>Khuôn dạng báo cáo bổ sung</td>
            <td><a href="Index">Báo cáo bổ sung </a></td>
        </tr>
        <tr>
            <td></td>
            <td>Định dạng cho mã vạch</td>
            <td><a href="LiquidationStats">Báo cáo đăng ký cá biệt bị hủy </a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>In báo cáo tổng quát</td>
        </tr>
    </tbody>
</table>

