
@{
                /**/

                ViewBag.Title = "SpecializedReport";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="bootbox.min.js"></script>
    <script src="bootbox.locales.min.js"></script>
    <title>Thống kê ấn phẩm đã được mượn</title>
    <style>
        label {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>

<h4 style="margin-top:20px;">Báo cáo Chuyên ngành</h4>
<br />
<div class="row">
    <div class="col-md-2">
        <a class="form-group row col" href="/AcquireReport/SpecializedReport">Báo cáo chuyên ngành</a>
        <a class="form-group row col" href="/AcquireReport/CreateNewSpecialized">Thêm chuyên ngành</a>
        <a class="form-group row col" href="/AcquireReport/UpdateSpecialized">Sửa chuyên ngành</a>
        <a class="form-group row col bold" href="/AcquireReport/AddSubjectToSpecialized">Thêm môn học vào chuyên ngành</a>
        <a class="form-group row col" href="/AcquireReport/DeleteSubjectFromSpecialzed">Xóa môn học khỏi chuyên ngành</a>
    </div>
    <div class="col-md-8 text-center">
        <div class="form-group row col-8">
            <label class="control-label col-md-8 align-self-center">Thư viện</label>
            @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-4" })
        </div>
        <div class="form-group row col-8">
            <label class="control-label col-md-8 align-self-center">Chuyên ngành</label>
            @Html.DropDownList("Specialized", new SelectList(string.Empty, "Value", "Text"), "Chọn chuyên ngành", new { @class = "form-control col-md-4" })

        </div>
        <div class="form-group row col-8">
            <label class="control-label col-md-8 align-self-center">Thêm mã môn</label>
            <input type="text" id="newSbj" name="newSbj" class="form-control col-md-2" />
            &ensp;
            <button type="button" id="addSubject" class="btn-primary btn-success">Thêm</button>
        </div>


    </div>

</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 ml-lg-4">
        <div class="row">
            <label class="control-label col-md-4 align-self-center">Danh sách mã môn</label>
            <textarea type="text" class="form-control col-md-4 " id="subjects" name="subjects" rows="8"  disabled></textarea>
        </div>
            <br />
        <div class="row ">
            <div class="mx-auto ">
                <button type="button" id="update" class="btn-primary btn">Lưu</button>
                <button type="button" id="refesh" class="btn-primary btn">Đặt lại</button>
            </div>
        </div>
    </div>
</div>

<div id="ContentSpecReport"></div>

<script>
    function getSubjectText() {
        document.getElementById("Subject").value = document.getElementById("subjects").value;

    }

    $(document).ready(function () {
        $("input[name=Subject]").change(function () {
            document.getElementById("subjects").value = document.getElementById("Subject").value;
        });

        $("#Library").change(function () {
            $("#Specialized").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSpecializedStored")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#Specialized").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
          });
          $("#Specialized").change(function () {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSpecializedSubject")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Specialized").val() },
                success: function (locs) {
                    var str = locs;
                    
                    
                    document.getElementById("subjects").value = str.split("/")[1];

                }
            });
            return false;
          });
      });

    document.getElementById("update").onclick = function () {
        if (confirm("Lưu thay đổi?")) {
            var empObj = {

                strSpec: document.getElementById("Specialized").value,

                strNewSbj: document.getElementById("subjects").value,
            };

            if (document.getElementById("Library").value == "") {
                alert("Hãy chọn Thư viện");
            }

            else {
                $.ajax({
                    url: "GetAddSubjectToSpecialized",
                    data: JSON.stringify(empObj),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {

                        alert(result);
                        location.reload();



                    },
                    error: function () {
                    }
                });

            }
        }

    };
    document.getElementById("addSubject").onclick = function () {
        var oldSbj = document.getElementById("subjects").value;
        var newSbj = document.getElementById("newSbj").value.toUpperCase();
        var subjects = newSbj.trim().split(" ");
        var check = 0;
        var exist = "";
        if (newSbj == "") {
            alert("Bạn cần nhập mã môn");

           
        } else {
            subjects.forEach(function (element) {
                if (oldSbj.includes(element)) {
                    exist = exist + " " + element;
                   
                    check = 1;
                }

            });
            if (check == 0) {
                document.getElementById("subjects").value = oldSbj + " " + newSbj;
            } else {
                alert("Mã môn " + exist + " đã tồn tại trong chuyên ngành!");
            }
        }

    };
    document.getElementById("refesh").onclick = function () {
        if (confirm("Bạn có chắc muốn đặt lại?")) {
            document.getElementById("newSbj").value = "";
            document.getElementById("Library").value = "";
            document.getElementById("Specialized").value = "0";
            document.getElementById("subjects").value = "";
        }

    };
</script>



