
@{
    ViewBag.Title = "LanguageStat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script type="text/javascript" src="~/Scripts/load.js"></script>
    <style>
        label {
            text-align: right;
        }
    </style>
</head>
<h4 style="margin-top:20px;">Thống kê bổ sung theo mã ngôn ngữ</h4>
<div class="container">
    <div class="row">
        <div class="form-group row col-6">
            <label class="control-label col-md-8 align-self-center">Thư viện</label>
            @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-4" })
        </div>
        <div class="col-sm">
            <button type="button" id="stat" class="btn btn-primary">Thống kê</button>
        </div>
    </div>
</div>

<div id="ContentStatYear"></div>
<script>
    document.getElementById("stat").onclick = function () {
        var empObj = {
            strLibID: document.getElementById("Library").value,
        };
        $.ajax({
            url: "GetLanguageStats",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            type: "POST",
            beforeSend: function () {
                $("#ContentStatYear").html("<h4>Loading...</h4>");
            },
            success: function (result) {
                $("#ContentStatYear").html(result)
            },
            error: function (errormessage) {
                console.log("error");
            }
        });
    };
</script>

