
@{
    /**/

    ViewBag.Title = "CloseLoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Đóng kho</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <style>
        label {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <script>
        $(document).ready(function () {
            var table = $('#table').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],

                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // Total over all pages
                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return (intVal(a) + intVal(b)).toFixed(2);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(
                        pageTotal + ' (' + total.toFixed(2) + ' total)'
                    );
                }
            });

            document.getElementById("Count").innerHTML = "Tổng số lượng: " + table.rows().count();
        });</script>
</head>

<body>
    <h5 style="margin-top:20px;">Đóng kho</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <a class="form-group row col-8" href="/Acquisition/InventoryReport">Kiểm kê</a>
                <a class="form-group row col-8" href="/Acquisition/InventoryReportByItemID">Kiểm kê theo biểu ghi</a>
                <a class="form-group row col-8 bold" href="/Acquisition/CloseLoc">Đóng kho</a>
                <a class="form-group row col-8" href="/Acquisition/CreateInventory">Tạo kỳ kiểm kê</a>
                <a class="form-group row col-8" href="/Acquisition/OpenLoc">Mở kho</a>
                <a class="form-group row col-8" href="/Acquisition/CloseInventory">Đóng kiểm kê</a>
            </div>
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-5 align-self-center">Thư viện</label>
                    @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @onchange = "callChangefunc(this.value)" })
                </div>
            </div>
        </div>
    </div>
    @{
        if (ViewBag.Result != null)
        {
            <div>
                <table id="table" class="table table-striped table-bordered" style="border: thin;" border="1">
                    <thead>
                        <tr>
                            <td>Kho</td>
                            <td><input type="checkbox" id="checkAl" onclick="checkAll()"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int stt = 0;
                        }
                        @foreach (var item in ViewBag.Result)
                        {
                            <tr>
                                <td>@item.Symbol</td>
                                <td><input type="checkbox" id="ck@(++stt)" name="checkToClose" value="@item.ID" /></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group">
                <button type="button" id="preview" class="btn btn-primary mr-1" onclick="CloseLoca()">Đóng kho</button>
                <button type="reset" id="reset" class="btn btn-primary">Đặt lại</button>
            </div>
        </div>
    </div>

    <script>
        function callChangefunc(val) {
            window.location.href = "/Acquisition/CloseLoc?libID=" + val;
        }
        function checkAll() {
            var checkbox = document.getElementsByName('checkToClose');
            var checkAl = document.getElementById('checkAl');

            if (checkAl.checked == true) {
                for (var i = 0; i < checkbox.length; i++) {
                    checkbox[i].checked = true;

                }
            } else {
                for (var i = 0; i < checkbox.length; i++) {
                    checkbox[i].checked = false;

                }
            }
        }
        function CloseLoca() {
            var libID = document.getElementById("Library").value;
            var checkbox = document.getElementsByName('checkToClose');
            var strLocID = "";

            // Lặp qua từng checkbox để lấy giá trị
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked === true) {
                    strLocID += checkbox[i].value + ',';
                }
            }
            $.ajax({
                url: "/Acquisition/CloseLocation",
                data: JSON.stringify({ libID: libID, strLocID: strLocID }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    alert('Bạn đã đóng kho thành công');
                    $('#table').DataTable().ajax.reload();
                },
                error: function () {
                    alert('Update trạng thái không thành công');

                }
            });
            window.location.href = "/Acquisition/CloseLoc?libID=" + libID;
        }

    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function checkValid() {
            if (document.getElementById("Library").value == "") {
                alert("Hãy chọn thư viện");

            } else if (document.getElementById("FromDate").value != "" && document.getElementById("ToDate").value != "" && document.getElementById("FromDate").value > document.getElementById("ToDate").value) {
                alert("Khoảng thời gian thống kê không hợp lệ");
            } else {
                document.getElementById("preview").type = "submit";
            }
        }
    </script>

</body>


