
@{
                /**/

                ViewBag.Title = "CreateInventory";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <style>
        label {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }
    </style>

</head>

<body>
    <h5 style="margin-top:20px;">Khởi tạo kỳ kiểm kê</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <a class="form-group row col-8" href="/Acquisition/InventoryReport">Kiểm kê</a>
                <a class="form-group row col-8" href="/Acquisition/InventoryReportByItemID">Kiểm kê theo biểu ghi</a>
                <a class="form-group row col-8" href="/Acquisition/CloseLoc">Đóng kho</a>
                <a class="form-group row col-8 bold" href="/Acquisition/CreateInventory">Tạo kỳ kiểm kê</a>
                <a class="form-group row col-8" href="/Acquisition/OpenLoc">Mở kho</a>
                <a class="form-group row col-8" href="/Acquisition/CloseInventory">Đóng kiểm kê</a>
            </div>
            <div class="col-lg-8">
                <div class="form-group row col-8">
                    <label class="control-label col-md-5 align-self-center">Tên kỳ kiểm kê </label>
                    <input class="form-control col-md-6" type="text" id="NameInven" value="" />
                </div>
                <div class="form-group row col-8">
                    <label class="control-label col-md-5 align-self-center">Ngày bắt đầu kiểm kê </label>
                    <input class="form-control col-md-6" type="date" id="FromDate" name="StartDate" value="@ViewBag.dDate" />
                </div>
                <div class="form-group row col-8">
                    <label class="control-label col-md-5 align-self-center">Người kiểm kê </label>
                    <input class="form-control col-md-4" type="text" id="inputer" name="inputer" value="@ViewBag.uName" disabled />
                    <button type="button" id="stat" class="btn btn-primary ml-2" onclick="CreateInventory()">Khởi tạo</button>
                </div>
                <div id="ContentStatTaskbar"></div>
            </div>
        </div>
    </div>

    <p id="ab">
        <script>
            function CreateInventory() {
                var nameIn = document.getElementById("NameInven").value;
                var inDate = document.getElementById("FromDate").value;
                var inputer = document.getElementById("inputer").value;

                $.ajax({
                    url: "/Acquisition/CreateInven",
                    data: JSON.stringify({ nameIn: nameIn, inDate: inDate, inputer: inputer }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function () {
                        alert('Khởi tạo thành công');
                        window.location.href = "/Acquisition/CreateInventory";
                    },
                    error: function () {
                        alert('Khởi tạo không thành công');

                    }
                });

            }
        </script>
</body>
