@using Libol.SupportClass;
@using Libol.Controllers;
@{
    ViewBag.Title = "Thêm bạn đọc theo lô";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*START------------SCRIPT FOR DATATABLES*@
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/dataTables.checkboxes.css">
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_DKCB').DataTable({

        });
    });
    function Liquidate() {
        //var Liquidate = document.getElementById("txtLiquidate").value;
        //var DateLiquidate = document.getElementById("DateLiquidate").value;
        //var Reason = $("#listReason :selected").val();
        //var DKCB = document.getElementById("fieldkcb").value;
        //var Copynumber = document.getElementById("txtSDKCB").value;
        //var selectfile = document.getElementById("selectfile").value;
        //var libID = document.getElementById("intLibID2").value;
        //var libID2 = document.getElementById("intLibID").value;
        //var locID = document.getElementById("intLocID2").value;
        //var Data;
        $.ajax({
            url: "/Acquisition/LiquidateExcel",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert('Bạn đã thanh lý sản phẩm thành công');
                if (result != "") {
                    document.getElementById("numberOfCode2").value = result.total;
                    document.getElementById("numberOfCode3").value = result.totalSuccess;
                    document.getElementById("numberOfCode4").value = result.totalOnloan;
                    document.getElementById("numberOfCode5").value = result.totalExists;
                    //alert(result);
                    $.alert({
                        title: 'Thông Báo !',
                        content: result.Message,

                    });
                    $('#tableOnLoan').empty();
                    Data = result.ContentOnLoan;
                    var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> mã ĐKCB đang mượn </th></tr>";
                    for (var i = 0; i < result.ContentOnLoan.length; ++i) {
                        x = x + "<tr><td class='text-center'><strong> " + result.ContentOnLoan[i] + "</strong></td></tr>";

                    }
                    $('#tableOnLoan').html(x);
                    $('#tableOnLoan').show(0);
                    $('#tableExists').empty();
                    Data = result.ContentExists;
                    var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> mã ĐKCB không tồn tại trong kho </th></tr>";
                    for (var i = 0; i < result.ContentExists.length; ++i) {
                        x = x + "<tr><td class='text-center'><strong> " + result.ContentExists[i] + "</strong></td></tr>";

                    }
                    $('#tableExists').html(x);
                    $('#tableExists').show(0);

                }
            },
            error: function () {
                alert('Thanh lý sản phẩm  không thành công');
            }

        });
    }
</script>

<h4 style="margin : 1rem">Dữ Liệu Cần Thanh Lý</h4>

<div style="margin-top: 1rem">
    <h5 style="text-align: center; color:green;">Danh sách ĐKCB cần Thanh Lý</h5>
    <table id="table_DKCB" class="table table-striped table-bordered datatables">
        <thead>
            <tr>
                <th>Mã ĐKCB</th>
                <th>Mã Thanh Lý</th>
                <th>Lý Do</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.CopyNumberInFile)
            {
                <tr>
                    <td>@item.CopyNumber</td>
                    <td>@item.LiquidCode</td>
                    <td>@item.Reason</td>

                </tr>
            }
        </tbody>

    </table>
</div>

<div class="info-form">
    <button type="button" class="btn btn-success " onclick="Liquidate()">Thanh Lý</button>
    
</div>
<div id="result-after-remove">
    <div style="background-color: lightgray;width: 100%;text-align:center">Tổng số mã đăng kí cá biệt: <input id="numberOfCode2" style="color: red" value="0" disabled></input> </div>
    <div style="background-color: lightgray;width: 100%;text-align:center">Số mã đăng kí cá biệt thanh lý thành công: <input id="numberOfCode3" style="color: red" value="0" disabled></input> </div>
    <div style="background-color: lightgray;width: 100%;text-align:center">Số mã đăng kí cá biệt đang được mượn: <input id="numberOfCode4" style="color: red" value="0" disabled></input> </div>
    <div style="background-color: lightgray;width: 100%;text-align:center">Số mã đăng kí cá biệt không tồn tại: <input id="numberOfCode5" style="color: red" value="0" disabled></input> </div>
    <table id="tableExists" class="table table-striped table-bordered datatables"></table>
    <table id="tableOnLoan" class="table table-striped table-bordered datatables"></table>


</div>

