
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">

    <script>
        $(document).ready(function () {
            var table1 = $('#table01').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],

                buttons: [
                    {
                        extend: 'excel',
                        title: function () { var printTitle = 'Kiểm kê_ĐKCB không có trong dữ liệu'; return printTitle; }
                    },
                    'pdf',
                    'colvis'
                ]
                //footerCallback: function (row, data, start, end, display) {
                //    var api = this.api(), data;
                //    var intVal = function (i) {
                //        return typeof i === 'string' ?
                //            i.replace(/[\$,]/g, '') * 1 :
                //            typeof i === 'number' ?
                //                i : 0;
                //    };
                //    // Total over all pages
                //    total = api
                //        .column(5)
                //        .data()
                //        .reduce(function (a, b) {
                //            return intVal(a) + intVal(b);
                //        }, 0);
                //    // Total over this page
                //    pageTotal = api
                //        .column(5, { page: 'current' })
                //        .data()
                //        .reduce(function (a, b) {
                //            return (intVal(a) + intVal(b)).toFixed(2);
                //        }, 0);

                //    // Update footer
                //    $(api.column(5).footer()).html(
                //        pageTotal + ' (' + total.toFixed(2) + ' total)'
                //    );
                //}
            });

            document.getElementById("Count").innerHTML = "Tổng số lượng: " + table1.rows().count();

            $("#ExportReporttoExcel01").on("click", function () {
                table1.button('.buttons-excel').trigger();
            });

        });</script>
</head>
<div id="Main">
    @{
                    /**/

                    if (ViewBag.ExcessDataResult != null)
                    {
                        <div>
                            <label><b>Các đăng ký cá biệt không có trong dữ liệu là</b></label>
                            <table id="table01" class="table table-striped table-bordered" style="border: thin;" border="1">
                                <thead>
                                    <tr>
                                        <th >STT</th>
                                        <th style="text-align :center">DKCB</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int STT = 1;
                                    }
                                    @foreach (var item in ViewBag.ExcessDataResult)
                                    {

                                        <tr>
                                            <td>@(STT)</td>
                                            <td>@item</td>
                                        </tr>
                                        STT++;
                                    }
                                </tbody>
                            </table>
                            <div style="text-align: right;">
                                <span id="Count"></span>
                                <span id="Total"></span>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="btn-group btn-group">
                                    <button type="button" id="ExportReporttoExcel01" class="btn btn-primary">Lưu vào file excel</button>
                                </div>
                            </div>
                        </div>
                    }
    }
</div>

