
@{
    ViewBag.Title = "Thủ thư đăng nhập";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập vào thư viện</title>
    <link href="~/AllContent/css/content.css" rel="stylesheet" type="text/css" />
    <link href="~/AllContent/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        input,
        select,
        textarea {
            max-width: 280px;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 9%;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="">

</head>

<body>
    <div style="margin: auto">
        @using (Html.BeginForm("LibrarianLogin", "Login", FormMethod.Post,
            new { @class = "form-signin" }))
        {
            <img class="mb-4" src="~/AllContent/images/Logo.png" alt="" width="232" height="63">
            <h1 class="h3 mb-3 font-weight-normal">Vui lòng đăng nhập</h1>
            <input name="username" class="form-control" placeholder="Tên đăng nhập" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required>
            <h1 style="color: red;" class="h6 mb-3 font-weight-normal" id="Notification">@ViewData["LibraryNotification"]</h1>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
        }
    </div>
    <script src="~/AllContent/js/bootstrap.min.js"></script>
    <script src="~/AllContent/js/jquery-1.12.4.min.js"></script>
</body>
</html>
