
@{
    ViewBag.Title = "Thông tin bạn đọc - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Sản phẩm</a>
        <div class="dropdown-home">
            <button class="dropbtn">Dịch vụ</button>
            <div class="dropdown-content">
                <a href="Z3950.html">Z39.50</a>
            </div>
        </div>
        <a href="#" style="width: 153px">Nội qui thư viện</a>
        <a href="@Url.Action("PatronPage", "InformationPatron")" style="width: 220px; background-color: #D8491F">Thông tin bạn đọc</a>
        <a href="@Url.Action("Login", "Login")" id="login" class="login"><i class="fa fa-sign-in"></i> Đăng nhập</a>
    </div>
    <br>
    <div class="inline">
        <table border="1" class="personal" id="list-infor">
            <tr>
                <th class="personal">Trình đơn bạn đọc</th>
            </tr>
            <tr>
                <td class="personal selecting">Thông tin bạn đọc</td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="personal">Tài liệu đang mượn</a></td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="personal">Thông tin đặt mượn sách</a></td>
            </tr>
            <tr>
                <td class="personal"><a href="#" class="personal">Lịch sử mượn sách</a></td>
            </tr>
        </table>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div>
        <table border="1" class="personal" id="infor">
            <tr>
                <th class="personal">Thông tin bạn đọc</th>
            </tr>
            <tr>
                <td class="personal">
                    <p class="need-to-login">Bạn đọc cần phải đăng nhập vào hệ thống</p>
                </td>
            </tr>
        </table>
    </div>
    <br>
</div>
<br>
<!-- End body -->
