<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbc881d7-1619-4a9c-a13b-27596e0d2c9c/resourceGroups/OPAC_RS/providers/Microsoft.Web/sites/opac10</ResourceId>
    <ResourceGroup>OPAC_RS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://opac10.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>opac10.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>opac10</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$opac10</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OpacEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=flib50.database.windows.net;Initial Catalog=Libol;Persist Security Info=True;User ID=Flibadmin;Password=Chipchip11" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OPAC.Models.OpacEntities, OPAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OpacEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Opac.csdl|res://*/Models.Opac.ssdl|res://*/Models.Opac.msl;provider=System.Data.SqlClient;provider connection string="Data Source=flib50.database.windows.net;Initial Catalog=Libol;Persist Security Info=True;User ID=Flibadmin;Password=Chipchip11"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>