@{
    ViewBag.Title = "Trang chủ";
}
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .bg-image {
        background-image: url("../../Content/Images/libol.jpg");
        filter: blur(8px);
        -webkit-filter: blur(3px);
        margin-top: 1.5rem;
        min-height: 610px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
    }
    a {
        color: white;
    }
        a:hover {
            color: white;
        }
</style>
<div class="bg-image"></div>

<div class="bg-text">
        <div class="row">
            <div class="col">
                <h3>Bạn đọc</h3>
                <ul>
                    <li><a href="/Patron/Create">Quản lý hồ sơ</a></li>
                    <li><a href="/Patron/SearchPatronFilter">Tra cứu</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Biên mục</h3>
                <ul>
                    <li><a href="/Catalogue/AddNewCatalogue">Tạo Mới Biên Mục</a></li>
                    <li><a href="/Catalogue/SearchCodeNumber">Sửa Bản Ghi Biên Mục</a></li>
                    <li><a href="/Z3950/SearchZ3950">Tìm kiếm Z3950</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Mượn trả</h3>
                <ul>
                    <li><a href="/CheckOut">Ghi mượn</a></li>
                    <li><a href="/CheckIn">Ghi trả</a></li>
                    <li><a href="/Renew/Renew">Gia hạn</a></li>
                    <li><a href="/OverdueList/OverdueList">Quá hạn</a></li>
                    <li><a href="/Circulation/LockPatronStats">Khóa thẻ</a></li>
                    <li><a href="/OrderBorrowed/OrderBorrowed">Danh sách đặt mượn</a></li>

</ul>
            </div>
            <div class="col">
                <h3>Bổ sung</h3>
                <ul>
                    <li><a href="/Shelf/Index">Xếp giá</a></li>
                    <li><a href="/PrintBarcode">In mã vạch</a></li>
                    <li><a href="/PrintLabel">In nhãn</a></li>
                    <li><a href="/Acquisition/HoldingLocRemove">Thanh lý</a></li>
                </ul>
            </div>
        </div>
</div>