<div class="gmail_quote">
    <br>
    <br>
    <table style="width:100%">
        <tbody>
            <tr>
                <td style="width:20%">
                    <img src="https://ci6.googleusercontent.com/proxy/1X0KA8xuA5cot1LZgoVXz4Bk2nbQT6LvJEP1XYELDQ_J4naUIIm4oIcyT0MDhf4q3LW0MO_DrWHUUvajTKPQsA=s0-d-e1-ft#http://libol.fpt.edu.vn/libol60/logo/logo.jpg" alt="FPT University Library" class="CToWUd">
                </td>
                <td style="width:70%">
                    <strong>
                        Information and Library Center - FU Hoa Lac <br>
                        Add : Library, Room 107, 1st Floor, Beta Building, Hoa Lac Campus, FPT University
                        <br>
                        Office Tel : +84 02466805912 <br>
                    </strong><strong>
                        E-mail:<a href="mailto:thuvien_fu_hoalac@fpt.edu.vn" target="_blank">thuvien_fu_hoalac@fpt.<wbr>edu.vn</a>
                    </strong><br>
                    <strong>Web/Blog :<a href="http://library.fpt.edu.vn" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://library.fpt.edu.vn&amp;source=gmail&amp;ust=1567432442716000&amp;usg=AFQjCNEPET5LOJyZRUxMI7vuiXzvUXGyEg">http://library.fpt.edu.vn</a></strong><br>
                    <strong>
                        Library eResource: <a href="http://ds.libol.fpt.edu.vn" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ds.libol.fpt.edu.vn&amp;source=gmail&amp;ust=1567432442716000&amp;usg=AFQjCNEiEl0MN14eJF3G1gwBsMacWaFeJw">http://ds.libol.fpt.edu.vn</a> |
                        <a href="http://library.books24x7.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://library.books24x7.com&amp;source=gmail&amp;ust=1567432442716000&amp;usg=AFQjCNF5jgCztgO6uy5OqKUi7d2Fh_8HTg">http://library.books24x7.com</a><br>
                        OPAC: <a href="http://libol.fpt.edu.vn/opac/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://libol.fpt.edu.vn/opac/&amp;source=gmail&amp;ust=1567432442716000&amp;usg=AFQjCNHth9KeEqhmz3FRv7llmUbcaacO2Q">http://libol.fpt.edu.vn/opac/</a><br>
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <p><strong></strong></p>
    <center><strong><span style="font-size:13px">|Title-Placeholder|</span></strong></center>
    <strong></strong>
    <p></p>
    <br>
    <p>Dear |Name-Placeholder|,</p>
    <p>Kindly be informed that your borrowed book(s) |Time-Placeholder| :</p>
    <p></p>
    <table border="1">
        <tbody>
            <tr>
                <td><span style="font-weight:bold">Title</span> </td>
                <td><span style="font-weight:bold">Barcode number</span> </td>
                <td><span style="font-weight:bold">Date due</span> </td>
            </tr>
            |ContentTable-Placeholder|
        </tbody>
    </table>
    <p>
        Please return book(s) to the Library as soon as possible.<br>
        <br>
    </p>
    <p><span></span></p>
    <center>
        <br>
        <p class="MsoNormal" style="text-align:left">
            <span style="font-size:18pt;line-height:107%;background:yellow;font-family:&quot;times new roman&quot;,serif;color:rgb(34,34,34)">If you would like to renew book(s) please send emailto&nbsp;</span><a href="mailto:thuvien_fu_hoalac@fpt.edu.vn" target="_blank"><span style="font-size:18pt;line-height:107%;background:yellow;font-family:&quot;times new roman&quot;,serif;color:rgb(17,85,204)">thuvien_fu_hoalac@fpt.<wbr>edu.vn</span></a><strong><span style="font-size:18pt;line-height:107%;background:yellow;color:rgb(34,34,34)">/&nbsp;</span></strong><span style="font-size:18pt;line-height:107%;background:yellow;font-family:&quot;times new roman&quot;,serif;color:rgb(34,34,34)">
                or
                call: <strong>+84 02466805912</strong>
            </span><span style="font-size:18pt;line-height:107%;background:yellow;color:rgb(34,34,34)">
            </span><span style="font-size:18pt;line-height:107%;background:yellow;font-family:&quot;times new roman&quot;,serif;color:rgb(34,34,34)">for your services.</span><span style="font-size:18pt;line-height:107%;font-family:&quot;times new roman&quot;,serif"><u></u><u></u></span>
        </p>
        <br>
        <table border="1">
            <tbody>
                <tr>
                    <td align="center">No</td>
                    <td align="center">Library Opening hours</td>
                    <td align="center">Date</td>
                </tr>
                <tr>
                    <td align="center">1</td>
                    <td align="center">8h30 - 21h30 </td>
                    <td align="center">Monday-Friday</td>
                </tr>
                <tr>
                    <td align="center">2</td>
                    <td align="center">8h30-17h30</td>
                    <td align="center">
                        Saturday, Sunday<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <br>
    <strong><span style="color:red">Some important notes</span> </strong>
    <p>
        Find more information such as: explore library policies/updated new books/activitiesof library, etc., please visit our website at:
        <a href="http://library.fpt.edu.vn" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://library.fpt.edu.vn&amp;source=gmail&amp;ust=1567432442717000&amp;usg=AFQjCNFycTCAeJqKvyehx-d9wg_DqrthKQ">http://library.fpt.edu.vn</a><a href="http://fptlibrary.wordpress.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://fptlibrary.wordpress.com/&amp;source=gmail&amp;ust=1567432442717000&amp;usg=AFQjCNHQqyXoadwnIdJBv-8AAkgs8g5c4Q"></a>
    </p>
    <span>1.1.Rules for borrowing reference books in library </span>
    <ul>
        <li>
            Borrow up to <span style="color:red">10 books in 7 days</span> for Vietnamese books,
            <span style="color:red">14 days</span> for foreign books.
        </li>
        <li>Renewal: <span style="color:red">4 times </span></li>
        <li>Overdue fine: VND <span style="color:red">5,000/day/book </span></li>
        <li>
            Book(s) are overdue <span style="color:red">30 days</span> considered lost item(s)
        </li>
        <li>Newspapers/magazines are only used in library </li>
    </ul>
    <span style="font-size:18pt;line-height:107%;font-family:&quot;times new roman&quot;,serif;color:red">1.2.This is automatic mailer, please do not reply! </span><div class="yj6qo"></div><div class="adL">
        <br>
        <br>
        <p></p>
    </div>
</div>